.card{
    padding: 1rem;
    display: flex;
    -webkit-box-shadow: 5px 5px 17px 2px rgba(0,0,0,0.29); 
box-shadow: 5px 5px 17px 2px rgba(0,0,0,0.29);
}
.centered{
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}